.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -40px;
    font-family: 'pre-medium';
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 340px;
}

.input {
    width: 270px;
    max-width: 100%;
    padding: 18px;
    border: none;
    background-color: #EBF0F7;
    border-radius: 16px;
    outline: none;
    font-size: 16px;
    color: gray;
}

.signupButton {
    width: 200px;
    height: 60px;
    border: none;
    background-color: #DDE1E5;
    color: gray;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease;
}

.signupButton:hover {
    background-color: #C0C4C8;
}

.clicked {
    background-color: #7AFFC7 !important; 
    color: white !important;
}



