#searchCon {
    width: 340px;
    margin: 62px auto 0px;
}

.dragCom {
    width: 100%;
    position: fixed;
    bottom: -181.2px;
}

.dragUp {
    bottom: 94.8px;
}

.drag2 {
    animation: down-ani 1s;
}

.drag {
    animation: up-ani 1s;
}

@keyframes up-ani {
	0% { transform: translate(0, 0); }
	100% { transform: translate(0, -275px); }
}
.box {
	animation-name: up-ani;
}

@keyframes down-ani {
	0% { transform: translate(0, -275px); }
	100% { transform: translate(0, 0); }
}
.box {
	animation-name: down-ani;
}