.container {
    font-family: 'pre-medium';
    padding-bottom: 75.8px;
}

.topCon {
    margin: 54.59px 28px 8.41px 27px;
    position: relative;
}

.bellIcon {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
}

.recommendContainer {
    background-color: white;
    border-radius: 20px;
    width: 340px;
    height: 210px;
    margin: 27.73px auto 0;
    display: flex;
    flex-direction: column;
    padding: 17px 19px;
    box-sizing: border-box;
}

.txtContainer {
    position: relative;
}

#recommendTxt {
    font-size: 18px;
}

#xIcon {
    position: absolute;
    right: 0px;
}

#medicineIcon {
    display: flex;
    margin: 12px auto 20px;
}

#recommendBtn {
    background-color: #7AFFC7;
    width: 271.08px;
    height: 43.79px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-family: 'pre-medium';
    color: rgba(93, 93, 93, 1);
    margin: 0 auto;
}

.plusCon {
    display: flex;
    justify-content: center;
    margin: 15px auto 58.64px;
    gap: 15px;
}

.firstCon, .secondCon {
    background-color: white;
    width: 161px;
    height: 123px;
    border-radius: 20px;
}

.famousCon {
    background-color: white;
    width: 340px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 18px 26px;
    box-sizing: border-box;
}

.famousTitle {
    font-size: 18px;
}

.medicineCon {
    display: flex;
    margin: 24px 0 10px;
}

#medicineImg {
    width: 43.33px;
    height: 43.33px;
    border-radius: 50px;
}

.medicineInfoCon {
    margin-left: 14px;
}

#medicineName {
    font-size: 15px;
}

#medicineInfo {
    font-size: 14px;
    color: #AAA;
    margin: 0;
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}