.logo {
    margin: 54.59px 0px 8.41px 27px;
}

.recommendContainer {
    background-color: white;
    border-radius: 20px;
    width: 340px;
    height: 210px;
    margin: 27.73px auto;
}

.txtContainer {
    margin: 0 auto;
}