.categoryCon > div {
    display: flex;
    gap: 15px;
    margin-bottom: 16px;
    justify-content: center;
}

.categoryCon > div> img {
    width: 160px;
    height: 123px;
}

.header {
    margin-bottom: 26px;
}