html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(244, 247, 250);
}

#__next {
  width: 100%;
  height: 100%;
  margin: 0px;
}

@font-face {
  font-family: 'pre-medium';
  src: url('../pages/fonts/Pretendard-Medium.otf');
}

