.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    padding: 40px;
    font-family: 'pre-medium';
    position: relative; 
}

.titleBox {
    margin-top: 50px;
}

.greeting {
    font-size: 24px;
    font-weight: bold;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-top: -10px;
}

.inputContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.input {
    width: 250px;
    padding: 15px;
    border: none;
    background-color: transparent; 
    border-bottom: 2px solid #ccc; 
    outline: none;
    font-size: 16px;
    color: gray;
    border-radius: 0; 
    transition: border-bottom 0.3s ease;
}

.addButton {
    width: 45px;
    height: 45px;
    border: none;
    background-color: #7AFFC7;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.addButton:hover {
    background-color: #5cd6a0;
}

.medicineList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.medicineTag {
    padding: 10px 20px;
    background-color: #EBF0F7;
    color: gray;
    font-size: 16px;
    border-radius: 20px;
}

.nextButton {
    width: 300px;
    height: 50px;
    border: none;
    background-color: rgba(221, 225, 229, 1); /* 기본 비활성화 색 */
    color: gray;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom: 163px;
    transition: background-color 0.3s, color 0.3s;
}

.nextButton:disabled {
    background-color: rgba(221, 225, 229, 1);
    cursor: not-allowed;
}

/* 활성화 상태일 때 버튼 색상 변경 */
.active {
    background-color: rgba(127, 241, 173, 1) !important;
    color: white !important;
}

.plusIcon {
    width: 35px;
    height: 35px;
}

.medicineLabel {
    font-size: 18px;
    color: black;
    margin-top: 30px;
    font-weight: 500;
}

.inputContainer {
    margin-top: 1px;
}

/* disabled 상태일 때 플러스 아이콘 커서 변경 */
.disabledButton {
    cursor: not-allowed !important;
    opacity: 0.5;
}
