.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    padding: 40px;
    font-family: 'pre-medium';
    position: relative; 
}


.titleBox {
    margin-top: 50px;
}

.greeting {
    font-size: 24px;
    font-weight: bold;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-top: -10px;
}

.inputContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.input {
    width: 250px;
    padding: 15px;
    border: none;
    background-color: transparent; 
    border-bottom: 2px solid #ccc; 
    outline: none;
    font-size: 16px;
    color: gray;
    border-radius: 0; 
    transition: border-bottom 0.3s ease;
}

.addButton {
    width: 45px;
    height: 45px;
    border: none;
    background-color: #7AFFC7;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.addButton:hover {
    background-color: #5cd6a0;
}

.medicineList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.medicineTag {
    padding: 10px 20px;
    background-color: #EBF0F7;
    color: gray;
    font-size: 16px;
    border-radius: 20px;
}

.nextButton {
    width: 300px;
    height: 50px;
    border: none;
    background-color: rgba(221, 225, 229, 1);
    color: gray;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 40px; 
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom: 83px;
    
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nextButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.clicked {
    background-color: rgba(122, 255, 199, 1); 
    color: white; 
}

.addButton {
    width: 45px;
    height: 45px;
    margin-top: 10px;
    border: none;
    background-color: rgba(127, 241, 173, 1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addButton:hover {
    background-color: rgba(127, 241, 173, 1);
}


.plusIcon {
    width: 35px;
    height: 35px;
}

.medicineLabel {
    font-size: 18px;
    color: black;
    margin-top: 30px;
    font-weight: 500;
}
.inputContainer {
    margin-top: 1px;
}


