.calendarContainer {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  padding: 20px;
  width: 320px;
  height: 550px;
  margin: 40px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.monthHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 10px;
}

.arrow {
  cursor: pointer;
  font-size: 15px;
  color: rgba(209, 210, 209, 1);
  user-select: none;
}

.daysOfWeek {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 14px;
  margin-bottom: -10px;
  color: rgba(170, 170, 170, 1);
}

.daysOfWeek div:nth-child(1),
.daysOfWeek div:nth-child(7) {
  color: rgba(170, 170, 170, 1);
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  text-align: center;
  padding: 12px;
  height: 55px;
  font-size: 14px;
  color: rgba(170, 170, 170, 1);
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.day:nth-child(7n + 1),
.day:nth-child(7n) {
  color: rgba(93, 93, 93, 1);
}

.day::after {
  content: "";
  width: 90%;
  height: 50px;
  background-color: rgba(244, 247, 250, 1);
  border-radius: 10px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.day:empty::after {
  content: none;
  background-color: transparent;
}

.selected {
  border: 4px solid #4EE287;
  background-color: rgba(244, 247, 250, 1);
  color: #333;
}

.today::after {
  border: 2px solid #4EE287;
  box-sizing: border-box;
}

.alarmIcon {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
