.chatCon {
    position: fixed;
    z-index: 2;
    bottom: 150px;
    width: 100%;
}

.chatBubbleCon {
    position: absolute;
    right: -8px;
    bottom: 0px;
}

.fadeout {
    animation : fadeOut 2s;
    animation-fill-mode: both;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.fadein {
    animation : fadein 2s;
    animation-fill-mode: both;
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

#chatBubbleTxt {
    position: absolute;
    top: 40%;
    left: 0%;
    transform: translate(20%, -25%);
    color: white;
    font-size: 16px;
}

#chatIcon {
    position: absolute;
    bottom: -30px;
    right: 24.9px;
}