.container {
    display: flex;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 2;
    border-top: solid rgba(232, 232, 233, 1) 1px;
}

.pageChoose {
    width: 60px;
    text-align: center;
}
#naviTxt {
    margin: 2px 0px 0px;
    color: rgba(170, 170, 170, 1);
    font-size: 12px;
}