.container {
  position: relative;
  margin-top: 26px;
}

.map {
  display: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pharmacyListCon {
    background-color: white;
    border-radius: 18px;
    padding: 20px 17px;
    margin: 0 5%;
}

.pharmacyCon {
    width: 332px;
    margin: 20px auto;
    position: relative;
}

.pharmacyListTitle {
    margin: 0 0 10px;
    font-size: 16px;
}

.noResult {
    text-align: center;
    margin: 0;
}