.searchBar {
    display: flex;
    align-items: center;
    margin: 66px 25px 17px 25px;
    gap: 7px;
}

#search {
    width: 100%;
}

.mediCon {
    background-color: white;
    border-radius: 20px;
    display: flex;
    width: 340px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 17px;
    box-sizing: border-box;
    gap: 8px;
}